:root {
    --dark-primary-color: #303F9F;
    --light-primary-color: #C5CAE9;
    --ultra-light-primary-color: #E8EAF6;
    --primary-color: #3F51B5;
    --text-icons: #FFFFFF;
    --accent-color: #009688;
    --light-accent-color: #B2DFDB;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
}